body {
    background-image: url(../img/gray_jean.png);
}

.logo {
    font-family: 'Peralta', cursive;
}
.logo a {
    color: rgba(0,0,0,.9)
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}
